/*
    Marriam Jawaid 
    9/15/2023
    Cal State Fullerton
*/
@media only screen and (max-width: 768px) {
    .galresp{
        width: 100%;
        margin: 6px 0;
    }
}

html{
    position:relative;
}

body{
    background-image: linear-gradient(#e4e3d3, #e4e3d3);
}

h1{
    color:white;
    font-family:'Courier New', Courier, monospace;
}

h2{
    color:#337357;
    font-family:'Courier New', Courier, monospace;
}

h3{
    font-family:'Courier New', Courier, monospace;
    font-size: xx-large;
    color:#337357;
    text-align: center;
    border-radius: 25px;
    border: 2px solid #337357;
    padding: 20px;
    width: auto;
    height: 20%;
    text-shadow: -1px 0 #6d9f71, 0 1px #6d9f71, 1px 0 #6d9f71, 0 -1px #6d9f71;
}

nav{
    position: sticky;
    top: 0;
    background-color: #337357;
    padding:5px;
    border-radius: 10px;
}

a{
    font-family:'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    color:#e4e3d3;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a.button{
    background-color: #6d9f71; /* Green */
    border: none;
    padding: 10px 20px;
    opacity: 0.8;
}
a:hover{
    opacity: 0.5;
}

div{
    text-align: center;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
}

div.welcome {
    background-color: #e4e3d3;
    position: absolute;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
  
@keyframes example {
    0%   {background-color:#e4e3d3; left:0px; top:0px;}
    50%  {background-color:#337357; left:0; top:200px;}
    75%  {background-color:#6d9f71; left:0px; top:200px;}
    100% {background-color:#e4e3d3; left:0px; top:0px;}
}

div.birds{
    width: 100%;
}

div.gallery{
    border: 3px;
    border-color:#6d9f71;
}
div.gallery:hover{
    border: 3px;
    border-color:#337357;
}
div.gallery img{
    width: 33%;
    height: auto;
    object-fit: cover;
}
.galresp{
    padding: 0 6px;
    float: left;
    width: 24.99%;
}

div.dropdown{
    display: inline-block;
}
div.content{
    display:none;
    background-color:#337357;
    max-width: 40%;
    min-width: 30%;
    max-height: 40%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    position: absolute;
    column-count: 2;
    column-gap: normal;
}
div.dropdown:hover .content{
    display: block;
}
p{
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-stretch: expanded;
    font-weight: bold;
    font-style: oblique;
    word-wrap: break-word;
}
p.vertical{
    writing-mode: vertical-lr;
}